@model DonerSermaye.Models.Data.Istekler

@{
    ViewData["Title"] = "İstek Düzenle";
    ViewData["Baslik"] = "İstek Düzenle";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IstekNo" />
            <div class="form-group">
                İstek Detayı
                <textarea asp-for="Ozet" class="form-control" rows="8" style="resize:none"></textarea>
                <span asp-validation-for="Ozet" class="text-danger"></span>
            </div>
            <div class="form-group">
                Tür
                <select asp-for="TurNo" class="form-control" asp-items="ViewBag.Tur"></select>
                <span asp-validation-for="TurNo" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="BolumId" />
                <span asp-validation-for="BolumId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="OnayNo" />
                <span asp-validation-for="OnayNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">İstek Listesi</a>
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

