@model DonerSermaye.Models.Data.Istekler
@using DonerSermaye.Models.Helper
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "İstek Sil";
    ViewData["Baslik"] = "İstek Sil";
    Layout = LayoutHelper.GetPath(@Context.Session.GetString("yetki"));
}


<h3 class="alert alert-danger">  @Html.DisplayFor(model => model.Konu) adlı isteği silmek istiyor musunuz?</h3>
<div>
  <form asp-action="Delete">
        <input type="hidden" asp-for="IstekNo" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">İstek Listesi</a>
    </form>
</div>
