
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Döner Sermaye Giriş</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('login/images/bg-01.jpg');">
            <div style="width:100%;text-align:center;">
                <img style="float:right;margin-right:100px;" width="120" src="~/images/muhendislik-fak.png" /><img style="float:left;margin-left:100px;"  width="120" src="~/images/ege.png" /><h1>Ege Üniversitesi</h1> <h2>Mühendislik Fakültesi</h2><h2>Döner Sermaye Sistemi</h2>
                
            </div>
            
            
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
              
                <form action="/Giris/Kontrol" method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        Giriş
                    </span>  
                    @if(ViewData["alert"] != null)
                    {
                        <div class="alert alert-danger">@ViewData["alert"]</div>
                    }

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Kullanıcı Adı zorunludur">
                        <span class="label-input100">TC Kimlik No</span>
                        <input type="text" class="input100" placeholder="Tc Kimlik No" name="tc" />
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Şifre alanı zorunludur">
                        <span class="label-input100">Şifre</span>
                        <input type="password" class="input100" placeholder="Şifre" name="sifre" />
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div style="margin-top: 10px;" class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Giriş
                            </button>
                        </div>
                    </div>
                    <div style="margin-top: 10px;" class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div style="background:black;" class="login100-form-bgbtn"></div>
                            <a href="~/FirmaGoruntuleme" class="login100-form-btn">
                                Firma Girişi
                            </a>
                        </div>
                    </div>
                </form>
                    </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/login/js/main.js"></script>

</body>
</html>