@model DonerSermaye.Models.Data.KesintitipAyrinti

@{
    ViewData["Title"] = "Düzenle";
    ViewData["Baslik"] = "Düzenle";
    Layout = "~/Views/Shared/doner.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
               Kesinti Tipi
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Kesinti Tip Ayrıntıları</a>
            </div>
        </form>
    </div>
</div>


