@model IEnumerable<DonerSermaye.Models.Data.KesintitipAyrinti>

@{
    ViewData["Title"] = "Kesinti Tip Ayrıntıları";
    ViewData["Baslik"] = "Kesinti Tip Ayrıntıları";
    Layout = "~/Views/Shared/doner.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Kesinti Tip Ayrıntısı Ekle</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
                <th>
                  Kesinti Tip Ayrıntı Açıklaması
                </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Düzenle</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
