@model DonerSermaye.Models.Data.Personeller

@{
    ViewData["Title"] = "Personel Düzenle";
    ViewData["Baslik"] = "Personel Düzenle";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display:none">
                <label asp-for="BolumId" class="control-label"></label>
                <select asp-for="BolumId" class="form-control" asp-items="ViewBag.Bolum"></select>
                <span asp-validation-for="BolumId" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none">
                <label asp-for="TcKimlikNo" class="control-label"></label>
                <input asp-for="TcKimlikNo" class="form-control" />
                <span asp-validation-for="TcKimlikNo" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="UnvanId" class="control-label"></label>
                <select asp-for="UnvanId" class="form-control" asp-items="ViewBag.Unvan"></select>
                <span asp-validation-for="UnvanId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="YetkiId" class="control-label"></label>
                <select asp-for="YetkiId" class="form-control" asp-items="ViewBag.Yetki"></select>
                <span asp-validation-for="YetkiId" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="Iban" class="control-label"></label>
                <input asp-for="Iban" class="form-control" />
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" type="password"/>
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Personel Listesi</a>
            </div>
        </form>
    </div>
</div>


