@model DonerSermaye.Models.Data.Kesintitipleri

@{
    ViewData["Title"] = "Silme İşlemi";
    ViewData["Baslik"] = "Silme İşlemi";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h3>  @Html.DisplayFor(model => model.KesintiTipi) adlı kesinti tipini silmek İstiyor musunuz?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
           Kesinti Tipi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KesintiTipi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-info" >Kesinti Tipleri</a>
    </form>
</div>
