@model DonerSermaye.Models.Data.Personeller

@{
    ViewData["Title"] = "Personel Sil";
    ViewData["Baslik"] = "Personel Sil";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}

<h3>   @Html.DisplayFor(model => model.Unvan.Unvan) @Html.DisplayFor(model => model.Ad)  @Html.DisplayFor(model => model.Soyad) adlı personeli silmek istiyor musunuz?</h3>
<hr/>
<div>

 
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-info">Personel Listesi</a>
    </form>
</div>
