@model DonerSermaye.Models.Data.IsTalepleri

@{
    ViewData["Title"] = "İş Talep Onayı";
    ViewData["Baslik"] = "İş Talep Onayı";
    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Reddet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="RedSebebi" class="control-label"></label>
                <input asp-for="RedSebebi" class="form-control" />
                <span asp-validation-for="RedSebebi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reddet" class="btn btn-danger" />
                <a asp-action="IndexB" class="btn btn-info">Talep Listesi</a>
            </div>
        </form>
    </div>
</div>


