@model DonerSermaye.Models.Data.Firmalar
@using Microsoft.AspNetCore.Http
@if (@Context.Session.GetString("yetki") == "2")
    {

        Layout = "~/Views/Shared/Index1.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "1")
    {

        Layout = "~/Views/Shared/bolumbaskan.cshtml";
    }
    else if (@Context.Session.GetString("yetki") == "3")
    {

        Layout = "~/Views/Shared/doner.cshtml";
    }
    @{
        ViewData["Title"] = "Firma Ekleme İşlemleri";
        ViewData["Baslik"] = "Firma Ekleme İşlemleri";

    }



    <div class="row">
        @if(ViewBag.hata != null)
        {
            <div class="col-md-12"><div class="alert alert-danger">@ViewBag.hata</div></div>
        }
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Firma / Şahıs Adı (Tam ünvan yazılmalıdır)</label>
                    <input asp-for="FirmaAdi" class="form-control" />
                    <span asp-validation-for="FirmaAdi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Vergi No</label>
                    <input asp-for="VergiNo" class="form-control" />
                    <span asp-validation-for="VergiNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Vergi Dairesi</label>
                    <input asp-for="VergiDairesi" class="form-control" />
                    <span asp-validation-for="VergiDairesi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">TC Kimlik No</label>
                    <input asp-for="TcKimlikNo" class="form-control" />
                    <span asp-validation-for="TcKimlikNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="+ Ekle" class="btn btn-success" />  <a class="btn-primary btn" asp-action="Index"> <i class="ace-icon fa fa-external-link "></i>Firma Listesine Dön</a>
                </div>
            </form>
        </div>
    </div>

    <div>

    </div>

