@model DonerSermaye.Models.Data.EkmekSiparis

@{
    ViewData["Title"] = "Sipariş Oluştur";
    ViewData["Baslik"] = "Sipariş Oluştur";
    Layout = "~/Views/Shared/Ekmek.cshtml";
}



<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group col-md-4">
                    <label class="control-label">Firma</label>
                    <select asp-for="FirmaId" class="form-control" asp-items="ViewBag.Firmalar"></select>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="EkmekTipleriId" class="control-label"></label>
                    <select asp-for="EkmekTipleriId" class="form-control" asp-items="ViewBag.EkmekTipi"></select>
                </div>
                <div class="form-group col-md-4">
                    <label>Birim Fiyatı(TL)</label>
                    <input id="birimfiyat" class="form-control" disabled />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Adet" class="control-label"></label>
                    <input asp-for="Adet" min="0" class="form-control" />
                    <span asp-validation-for="Adet" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ToplamFiyat" class="control-label"></label>
                    <input asp-for="ToplamFiyat" class="form-control" disabled />
                    <span asp-validation-for="ToplamFiyat" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="TeslimTarihi" class="control-label"></label>
                    <input asp-for="TeslimTarihi" class="form-control" type="date" />
                    <span asp-validation-for="TeslimTarihi" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <input type="button" id="Sipekle" value="Ekle" class="btn btn-success btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>
<div id="ekle1">
    <table id="tablo" class="table table-bordered table-hover">
        <tr><th colspan="7" class="text-center text-danger bg-info"><h3>Sipariş Özeti</h3></th></tr>
        <tr><th>Firma</th><th>Ekmek Tipi</th><th>Birim Fiyatı</th><th>Adet</th><th>Teslim Tarihi</th><th>Toplam</th></tr>
    </table>

    <input type="button" id="ekmeksipariskaydi" value="" class="btn btn-success btn-block" />
    <a class="btn btn-danger btn-block" href="../EkmekSiparis/Create">Sıfırla</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FirmaId').select2({ width: '100%' });
            $('#EkmekTipi').select2({ width: '100%' });
        });
        $(function () {
            $("#Adet").keydown(function () {
                // Save old value.
                if (!$(this).val() || (parseInt($(this).val()) > 0))
                    $(this).data("old", $(this).val());
                console.log("adetkeyup");
            });
            $("#Adet").keyup(function () {
                // Check correct, else revert back to old value.
                if (!$(this).val() || (parseInt($(this).val()) > 0))
                    ;
                else
                    $(this).val($(this).data("old"));
            });
        });
    </script>
}
