@model DonerSermaye.Models.Data.IsAyrinti

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/doner.cshtml";
}

<h2>Create</h2>

<h4>IsAyrinti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ısId" class="control-label"></label>
                <select asp-for="ısId" class ="form-control" asp-items="ViewBag.ısId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonelId" class="control-label"></label>
                <select asp-for="PersonelId" class ="form-control" asp-items="ViewBag.PersonelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tutar" class="control-label"></label>
                <input asp-for="Tutar" class="form-control" />
                <span asp-validation-for="Tutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

