@model IEnumerable<DonerSermaye.Models.Data.IsAyrinti>

@{
    ViewData["Title"] = "Banka Ödeme Listesi";
    ViewData["Baslik"] = "Banka Ödeme Listesi";
    Layout = "~/Views/Shared/doner.cshtml";
}

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>
                TC KİMLİK NO
            </th>
            <th>
                AD
            </th>
            <th>
                SOYAD
            </th>
            <th>IBAN NO</th>
            <th>TUTAR</th>
        </tr>
    </thead>
    <tbody>

        @ViewBag.result;

        @foreach (var item in ViewBag.result)
    { 
< tr >
    < td >@item.ad</ td >
    < td ></ td >
    < td ></ td >
    < td ></ td >
    < td ></ td >

</ tr >
   }
    </tbody>
</table>
