@model DonerSermaye.Models.Data.Bolumler

@{
    ViewData["Title"] = "Bölüm Düzenle";
    ViewData["Baslik"] = "Bölüm Düzenle";
    Layout = "~/Views/Shared/doner.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Bölüm
                <input asp-for="Bolum" class="form-control" />
                <span asp-validation-for="Bolum" class="text-danger"></span>
            </div>
            <div class="form-group">
                İlk Devir Tutarı
                <input asp-for="ilkdevirtutari" class="form-control" />
                <span asp-validation-for="ilkdevirtutari" class="text-danger"></span>
            </div>
            <div class="form-group">
                Kesinti Tip Ayrıntı
                <select asp-for="KesintitipAyrintiId" class="form-control" asp-items="ViewBag.kesintiTipAyrintiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Bölümlerimiz</a>
            </div>
        </form>
    </div>
</div>

