@model DonerSermaye.Models.Data.IstekTurleri

@{
    ViewData["Title"] = "İstek Türleri";
    ViewData["Baslik"] = "İstek Türleri";
    Layout = "~/Views/Shared/doner.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TurNo" />
            <div class="form-group">
                İstek Türü
                <input asp-for="Tur" class="form-control" />
                <span asp-validation-for="Tur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">İstek Türleri</a>
            </div>
        </form>
    </div>
</div>


