
@model DonerSermaye.Models.Data.Isler

@{@using Microsoft.AspNetCore.Http
if (@Context.Session.GetString("yetki") == "2")
{

    Layout = "~/Views/Shared/Index1.cshtml";
}
else if (@Context.Session.GetString("yetki") == "1")
{

    Layout = "~/Views/Shared/bolumbaskan.cshtml";
}
else if (@Context.Session.GetString("yetki") == "3")
{

    Layout = "~/Views/Shared/doner.cshtml";
}
}
@{

    ViewData["Title"] = "İş Ekle";
    ViewData["Baslik"] = "İş Ekle";

}
<body onload="personelgetir2()">
    <div class="col-md-12" id="frm">
        <form data-ajax="true"
              data-ajax-begin="onBegin"
              data-ajax-complete="onSuccess"
              data-ajax-update="#dagitim form"
              asp-action="Kaydet" asp-controller="Isler">

            <div class="row" id="is">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group col-md-6 col-sm-12">
                        <span>Bölüm</span>
                        <select asp-for="BolumId" class="form-control" onchange="birimleriduzenle()" asp-items="ViewBag.BolumId"></select>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <span>Firma Vergi Numarası</span>
                        <select asp-for="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"></select>
                    </div>
                    <div class="form-group col-md-12">
                        <span class="alert alert-info" style="display:none;" id="firmaadi"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Tutar" class="control-label"></label>
                        <input asp-for="Tutar" class="form-control" />
                        <span asp-validation-for="Tutar" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label class="control-label">İş Türü</label>
                        <select asp-for="TurId" class="form-control" asp-items="ViewBag.TurId"></select>
                    </div>
                    <div class="form-group col-md-2 col-sm-12">
                        <label class="control-label">KDV Dahil</label>
                        <input type="checkbox" class="form-control" id="kdv" value="@Model.Kdv" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label class="control-label">KDV Oranı</label>
                        <input class="form-control" value="18" id="kdvoran" name="kdvoran" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <label class="control-label">Açıklama</label>
                        <textarea asp-for="Aciklama" class="form-control"></textarea>
                    </div>
                    <div id="labyer">

                    </div>
                </div>
                <div id="Kesintiler" class="col-md-6 col-sm-12">
                    <table class="table table-hover" id="tablo">
                        <tr><th>Kesinti</th><th>Kesinti Oranı</th><th>Kesinti Tutarı</th></tr>
                    </table>
                </div>
                <div>
                    <a class="btn btn-success btn-block" onclick="dagitim()">KAYDET VE DAĞITIMA GEÇ</a>
                </div>
            </div>
            <div id="dagitim2" style="display:none">
                <div class="row">
                    <br />
                    <div class="alert alert-info col-md-8">Dağıtılacak Tutar: <span id="dtutar">0</span> TL</div>
                    <div class="alert alert-danger col-md-3">Kalan Tutar: <span id="kalantutar">0</span> TL</div>
                    <div class="alert alert-success col-md-1"><span onclick="islem()">DÜZENLE</span></div>
                </div>
                <div class="row">
                    <div class="bg-primary col-md-6 btn btn-primary" onclick="kisidagitim()">Kişi Dağıtımı</div>
                    <div class="bg-primary col-md-6 btn btn-primary" onclick="labdagitim()">Laboratuvar Dağıtımı</div>
                </div>
                <div class="row">
                    <div id="kisidagitim" style="display:none">
                        <div class="form-group col-md-3">
                            <span>Bölüm</span>
                            <select class="form-control" asp-items="ViewBag.DigerBolumId" onchange="personelgetir(this)" onload="personelgetir2('1')"></select>
                        </div>
                        <div class="form-group col-md-3">
                            <span>Personel</span>
                            <select class="form-control" id="personel" name="personel"></select>
                        </div>
                        <div class="form-group col-md-2">
                            <span>Ücret</span>
                            <input class="form-control" type="text" id="miktar" onkeyup="degistir()" />
                        </div>
                        <div id="dpersonel" class="col-md-4">
                            <table class="table table-hover"></table>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <a class="btn btn-info btn-block text-center" id="ekle">EKLE</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a class="col-md-7 btn btn-info text-center">
                                TOPLAM
                            </a>
                            <a class="col-md-3 btn btn-danger text-right" id="topla">
                                0
                            </a>
                            <a class="col-md-1 btn btn-danger text-left" id="tl">
                                TL
                            </a>
                        </div>
                        <input type="submit" value="Kaydet" class="btn btn-primary btn-block ekle" disabled id="kaydet2" />
                    </div>
                </div>
                <div class="row">
                    <div id="labdagitim" style="display:none">
                        <p></p>
                        <div class="alert alert-warning">Dağıtılacak tutar bölüm labaratuvar gelirine aktarılacaktır.</div>
                        <input type="submit" value="Kaydet" class="btn btn-primary btn-block ekle" id="kaydet3" />
                    </div>
                </div>

            </div>
            <p></p>
            <div class="alert alert-danger" id="aciklama" style="display:none">
                <ul>
                    <li>Dağıtılacak Paranın belli bir kısmını bölüme aktarmak isterseniz önce bölümünüzü seçip ardından kişiler listesinden <b class="text-primary">Bölüm Payı</b>nı seçiniz...</li>
                    <li>Dağıtımı kaydedebilmek için dağıtılacak para ile dağıtılan paranın eşit olması gerekir. Aksi taktirde <b class="text-success"> kaydet butonu aktif olmayacaktır.</b></li>
                    <li>Dağıtım işlemi sonra bölüm içinde eşit dağıtılacaksa Bölümünüzü seçip kişi listesinden <b class="text-warning"> Labaratuarı</b> seçiniz...</li>
                </ul>
            </div>



        </form>
    </div>



</body>

@section Scripts {
<script>
    $(document).ready(function () {
        $('#FirmaId').select2();
        var id = $("#FirmaId").val();
        $.ajax({
            url: '/Isler/FirmaGetir?id=' + id,
            type: 'POST',
            success: function (data) {
                $("#firmaadi").html('Seçilen Firma: ' + data);
                $("#firmaadi").css('display', 'block');
            }
        });
        $("#FirmaId").change(function () {           
            $("select option:selected").each(function () {
                var id = $("#FirmaId").val();
                $.ajax({
                    url: '/Isler/FirmaGetir?id=' + id,
                    type: 'POST',
                    success: function (data) {
                        $("#firmaadi").html('Seçilen Firma: '+data);
                        $("#firmaadi").css('display', 'block');
                        
                    }
                });
            });
        });
        setTimeout(function () { $("#Tutar").trigger("change"); }, 1200);
    });
</script>
    
}