@model DonerSermaye.Models.Data.Istekler

@{
    ViewData["Title"] = "Harcama Girişi";
    ViewData["Baslik"] = "Harcama Girişi";
    Layout = "~/Views/Shared/doner.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateB">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">İş Türü</label>
                <select asp-for="TurNo" class="form-control" asp-items="ViewBag.Tur"></select>
                <span asp-validation-for="TurNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                İstek Detayı
                <textarea asp-for="Ozet" class="form-control" rows="8" style="resize:none"></textarea>
                <span asp-validation-for="Ozet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="OnayNo" class="form-control" type="hidden" />
                <span asp-validation-for="OnayNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Onay" class="form-control" type="hidden" />
                <span asp-validation-for="Onay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bölüm</label>
                <select asp-for="BolumId" class="form-control" asp-items="ViewBag.Bolum"></select>
                <span asp-validation-for="BolumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TahakkukNo" class="control-label"></label>
                <input asp-for="TahakkukNo" class="form-control" />
                <span asp-validation-for="TahakkukNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YaklasikMaliyet" class="control-label"></label>
                <input asp-for="YaklasikMaliyet" class="form-control" />
                <span asp-validation-for="YaklasikMaliyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>Firma</span>
                <select asp-for="FirmaId" class="form-control" asp-items="ViewBag.FirmaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FaturaTarihi" class="control-label"></label>
                <input asp-for="FaturaTarihi" type="date" class="form-control" />
                <span asp-validation-for="FaturaTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaturaNo" class="control-label"></label>
                <input asp-for="FaturaNo" class="form-control" />
                <span asp-validation-for="FaturaNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                e-Fatura ise işaretleyiniz<input type="checkbox" asp-for="eFaturami" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Harcama Listesi</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#FirmaId').select2();
        });
    </script>
}