@{
    ViewData["Title"] = "Döner Sermaye Özet Bilgiler";
    ViewData["Baslik"] = "Döner Sermaye Özet Bilgiler";
    Layout = "~/Views/Shared/doner.cshtml";
}
<div class="row">
    <div id="bol"></div>
</div>
<hr />
<div class="page-header"><h1>Dağıtımlar</h1></div>
<div class="row">
    <div id="bol2"></div>
</div>
