@model DonerSermaye.Models.Data.KesintiOran

@{
    ViewData["Title"] = "Düzenle";
    ViewData["Baslik"] = "Düzenle";
    Layout = "~/Views/Shared/doner.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                İş Tipi
                <select asp-for="TurId" class="form-control" asp-items="ViewBag.Tur"></select>
            </div>
            <div class="form-group">
                Kesinti Tipi
                <select asp-for="KesintiTipId" class="form-control" asp-items="ViewBag.KesintiTipi"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oran" class="control-label"></label>
                <input asp-for="Oran" class="form-control" />
                <span asp-validation-for="Oran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Kesinti Oranları</a>
            </div>
        </form>
    </div>
</div>


