@model DonerSermaye.Models.Data.IsTurleri

@{
    ViewData["Title"] = "İş Türü Düzenle";
    ViewData["Baslik"] = "İş Türü Düzenle";
    Layout = "~/Views/Shared/doner.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label  class="control-label">Tür</label>
                <input asp-for="Tur" class="form-control" />
                <span asp-validation-for="Tur" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">İş Türü Listesi</a>
            </div>
        </form>
    </div>
</div>
