@model IEnumerable<DonerSermaye.Models.Data.Unvanlar>

@{
    ViewData["Title"] = "Ünvan İşlemleri";
    ViewData["Baslik"] = "Ünvan İşlemleri";
    Layout = "~/Views/Shared/doner.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-xs">Ünvan Ekle</a>
</p>
<table class="table table-bordered table-hover table-condensed table-striped">
    <thead>
        <tr>
                <th>
                   Ünvan
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o "></i>Düzenle</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i>Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
